.cgv {

    &__box {
        display: flex;
        justify-content: space-evenly;
        align-items: center;        
        margin: auto;
        height: 4rem;
        padding: 0.5rem;
        
        background-color: $dark-trans;
    }

    &__list {
        margin: 0 .5rem 0 .5rem;
        text-align: center;
        background-color: transparent;
    }

    &__link {
        font-size: 1rem;
        font-weight: 900;
        background-color: transparent;
    }
}