.productList {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: auto;

    @media #{$lrg} {
        flex-direction: row;
        align-items:self-start;
        margin: 0 10rem; 
    }
}

.cardList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem 0;
    
    @media #{$med} {
        grid-template-columns: repeat(2, 1fr);
    }

    @media #{$lrg} {
        grid-template-columns: repeat(3, 1fr);
    }

    &__container {
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 1.5rem;
        gap: 2rem;
    }

    &__img {
        width: 100%;
        margin-top: 2rem;
        border-radius: 1rem; 
    }

    &__name {
        text-align: center;
        text-transform: uppercase;
    }

    &__price {
        font-size: 2rem;
    }

    &__view {
        margin-bottom: 2rem;
    }
}

.openFilter {
    background-color: $white;
    border-radius: 2rem;

    @media #{$lrg} {
        display: none;
    }
}

.closeFilter {
    background-color: $white;
    border-radius: 2rem;

    @media #{$lrg} {
        display: none;
    }
}

.cardFilter {
    display: none;
    width: 100%;

    @media #{$lrg} {
        display: block;
        width: 30%;
    }

    &__container {
        padding: 1rem;
        margin: 0 1rem;
    }

    &__feature{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__chkbox {
        width: 3rem;
        height: 3rem;
        padding: .5rem;

        @media #{$lrg} {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    &__label {
        width: 80%;
        font-size: 1.5rem;
        margin-left: 1rem;
        text-transform: uppercase;
        @media #{$lrg} {
            font-size: 1rem;;
        }
    }

    &__input {
        display: flex;
        margin:  2rem auto;
        background-color: transparent;
    }
}