.productView {
    padding: 1rem;
}

.cardHeader {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    gap: 2rem;

    &__name {
        text-align: center;
        text-transform: uppercase;
        margin: auto;
    }

    &__img {
        border-radius: 1rem;
        margin: auto;
    }

    &__text {
        margin: auto;
    }

    &__price {
        margin: auto;
        font-size: 2rem;
    }

    &__add {
        text-align: center;

        @media #{$lrg} {
            width: 25%;
            margin: auto;
        }
    }

    &__counter {
        display: flex;
        flex-direction: column ;
        justify-content: center;
        gap: 2rem;

    }

    &__count {
        text-align: center;
        color: $black;
        font-size: 2rem;
        width: 5rem;
    }

    &__add {
        margin: auto;
        width: 75%;
        cursor: pointer;

        @media #{$med} {
            width: 50%;
        }

        @media #{$lrg} {
            width: 25%;
        }
    }

}

.count-container {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: auto;

    @media #{$med} {
        width: 50%;
    }

    @media #{$lrg} {
        width: 25%;
        margin: auto;
    }
}



.increment,
.decrement {
    cursor: pointer;
}

.cardTable {

    &__container {
        overflow: hidden;
        margin: 5rem auto;
        padding: .5rem;
        overflow-y: scroll;
    }

    &__title {
        font-weight: 700;
        color: $secondary;
    }

    &__feature {
        width: 30%;
    }

    &__value {
        width: 70%;
    }
}