.productList {
    display: flex;
    overflow: hidden;
}

.cardList {
    width: 80%;
    max-height: 15rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    gap: 1rem;
    margin: 10rem 1rem;

    @media #{$med} {
        grid-template-columns: repeat(2, 1fr);
    }

    @media #{$lrg} {
        grid-template-columns: repeat(4, 1fr);
    }

    &__container {
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
        padding: 1rem;
        gap: 1rem;
    
        border: 2px solid $white;
        border-radius: 1rem; 
        box-shadow: 4px 4px 2px 0px rgb(255, 255, 255,0.6);
    }

    &__img {
        width: 100%;

        border-radius: 1rem; 
    }

    &__name {
        text-align: center;
    }

    &__box {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 2rem;
    }
}

.openFilter {
    background-color: $white;
    border-radius: 2rem;
}

.closeFilter {
    background-color: $white;
    border-radius: 2rem;
}

.cardFilter {
    width: 20%;
    margin: 8rem 1rem;

    &__container {
        padding: .5rem;
    }

    &__feature{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__chkbox {
        width: 1rem;
        height: 1rem;
        padding: .5rem;
    }

    &__label {
        width: 80%;
        margin-left: 1rem;
        text-transform: uppercase;
    }

    &__input {
        color: $white;
    }
}