.productView {
    padding: 1rem;
    

}

.cardView {
    padding: 1rem;

    border: solid 2px $primary;
    border-radius: 1rem;

    &__name {
        text-align: center;
    }

    &__img {
        border-radius: 1rem;
    }

    &__text {
        margin: 1rem 0;
    }

    &__box {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

}