.productView {
    padding: 1rem;
    background-color: $dark;
}

.card {
    background-color: $dark;
}

.cardHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem;
    gap: 2rem;
    margin: auto;
    color: $white;

    &__name {
        text-align: center;
        text-transform: uppercase;
        margin: auto;
    }

    &__img {
        border-radius: 1rem;
        margin: auto;
    }

    &__text {
        margin: auto;
        text-align: center;
    }

    &__price {
        margin: auto;
        font-size: 2rem;
    }

    &__add {
        text-align: center;
        margin: 2rem auto;
        width: 100%;
        cursor: pointer;
    }


    &__count {
        text-align: center;
        color: $black;
        font-size: 2rem;
        width: 4rem;
        margin: 0 1rem;
    }
}

.count-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    background-color: $dark;
    color: $white;

    @media #{$med} {
        width: 50%;
    }

    @media #{$lrg} {
        width: 25%;
        margin: auto;
    }
}



.increment,
.decrement {
    cursor: pointer;
}

.cardTable {
    background-color: $dark;
    color: $white;

    &__container {
        overflow: hidden;
        margin: 5rem auto;
        padding: .5rem;
        overflow-y: scroll;
    }

    &__title {
        font-weight: 700;
        color: $secondary;
    }

    &__feature {
        width: 30%;
    }

    &__value {
        width: 70%;
    }
}