.productFilter {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: auto;

    @media #{$lrg} {
        flex-direction: row;
        align-items:self-start;
        margin: 0 10rem; 
    }
}

.cardFiltered {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    gap: 1rem;
    margin: 1rem auto;
    
    @media #{$med} {
        grid-template-columns: repeat(2, 1fr);
    }

    @media #{$lrg} {
        grid-template-columns: repeat(3, 1fr);
    }

    &__container {
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
        padding: 1rem;
        margin:1rem auto;
        gap: 1rem;
    
        border: 2px solid $white;
        border-radius: 1rem; 
        box-shadow: 4px 4px 2px 0px rgb(255, 255, 255,0.6);
    }

    &__img {
        width: 100%;
        margin-top: 2rem;
        border-radius: 1rem; 
    }

    &__name {
        text-align: center;
        text-transform: uppercase;
    }

    &__price {
        font-size: 2rem;
    }
}

.noResult {
    margin: 5rem auto;
    font-size:x-large;
}