// #################
// ## BREAKPOINTS ##
// #################

$sml: "screen and (min-width: 384px)";
$med: "screen and (min-width: 768px)";
$lrg: "screen and (min-width: 1248px)";



// ############
// ## COLORS ##
// ############

$primary: rgb(184, 159, 92);
$sec-trans: rgb(184, 159, 92, 0.5);
$secondary: rgb(144, 68, 60);
$sec-trans: rgb(144, 68, 60, 0.5);
$dark: rgb(0, 0, 0);
$dark-trans: rgb(0, 0, 0, 0.5);
$black: rgb(50, 50, 50);
$black-trans: rgb(50, 50, 50, 0.5);
$white: rgb(255, 255, 255);
$white-trans: rgb(255, 255, 255, 0.5);
